@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY.jpg");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}
h1 {
  background-color: #75077d ;
  border-radius: 20px;
  color: white;
  width: 600px;
  margin: auto;
  margin-bottom: 5px;
}
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}



